table {
  width: 100%;
  border-collapse: collapse;
  border-style: solid;
  border-color: rgb(255, 165, 0);
  border-width: 0px 0px 1px 1px;
}

th,
td {
  text-align: center;
  border-style: solid;
  border-color: rgb(255, 165, 0);
  border-width: 1px 1px 0px 0px;
  padding: 3px 5px;
}

th {
  background-color: #888888;
  color: white;
}

.sub-total-text {
  text-align: right;
}